html{
    overscroll-behavior: none;
}

body {
    margin: 0;
    font-family: monospace;
    background: 
            url("/assets/images/logo_xl_transp.png") 10% 10vh no-repeat, 
            radial-gradient(circle at 50% 33vh, rgba(0, 0, 255, 0.75) 0%, rgba(0, 0, 255, 0) 33vw) no-repeat, 
            rgba(0, 0, 0, 1);
    background-size: 50%, 100%, 100%;
    background-attachment: fixed;
    color: rgba(255, 255, 255, 1);	
    overscroll-behavior: none;

}

#etsy-button{
    position: fixed;
    top: 40px;
    right: 40px;
}
.button{
    width: 160px;
    height: 60px;
    border-radius: 30px;
    background: rgba(0, 0, 255, 0.5);
    color: rgba(255, 255, 255, 0.5);
    font-family: "Oswald";
    font-weight: 600;
   text-align: center;
   line-height:2.4;
   font-size: 24px;
   transition: 0.2s;
   cursor: pointer;
}
.button:hover{
    background: rgba(0, 0, 255, 1);
    color: rgba(255, 255, 255, 1);
}


.container {
    margin-top: 200px;
    _padding: 40px;
}

#food, #music{
    display: none;
}




.spotlight {
    position: fixed;
    width: 320px;
    height: 720px;
    _outline: solid 1px yellow;
    right: 160px;
    bottom: 80px;
}
.spotlight .item{
    position: absolute;
    width: 320px;
    height: 720px;
    bottom: 0px;
    background: url("../images/spotlight/hand.png") bottom no-repeat;
    transition: 0.5s;
}




.logo {
    z-index: 800;
    width: 1424px;
    height: 221px;
    background: url("../images/logo_xl_transp.png") center no-repeat;
    position: absolute;
}






.copyright {
    font-family: "Roboto";
    position: fixed;
    display: inline-block;
    right: 40px;
    bottom: 40px;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.7);
    display: inline-block;
}





.title-wrapper{
    position: fixed;
}

.page-name {
    font-family: "Oswald";
    font-size: 40px;
    font-weight: 700;
    color: white;
    text-shadow: -5px 10px 10px rgba(0, 0, 0, 0.5), 5px 10px 10px rgba(0, 0, 0, 0.5);
}

.page-title {
    font-family: "Roboto";
    font-size: 32px;
    font-weight: 300;
    line-height: 30px;
    color: white;
    text-shadow: -3px 7px 5px rgba(0, 0, 0, 0.5), 5px 7px 5px rgba(0, 0, 0, 0.5);
}





.section-wrap{
    width: 600px;
    backdrop-filter: blur(5px);
    margin: 40px 0 0 260px;

}
.section {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3), -10px 10px 10px rgba(0, 0, 0, 0.3),
                inset 5px 5px 10px rgba(0, 0, 0, 0.2), inset -5px -5px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    background:
        linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 0px, rgba(255, 255, 255, 0.0) 40px, rgba(255, 255, 255, 0.0) 90%),
        linear-gradient(to top, rgba(255, 255, 255, 0.3) 0px, rgba(255, 255, 255, 0.0) 20px, rgba(255, 255, 255, 0.1) 40%, rgba(255, 255, 255, 0.0) 100%),
        rgba(0, 0, 0, 0);
    border-radius: 0 0 10px 10px;
    border-radius: 16px;
    border: solid 1px rgba(255, 255, 255, 0.3);
    color: white;
    transition: 0.5s;
    cursor: pointer;
}
.section-top {
    height: 20px;
    margin: 4px 4px 0px 4px;
    background: linear-gradient(rgba(255, 255, 255, 0.4) 0px, rgba(255, 255, 255, 0) 20px);
    border-radius: 10px 10px 0 0;
}
.section-header {
    font-family: "Oswald";
    font-size: 24px;
    font-weight: 500;
    margin: -16px 20px 0px 20px;
}
.section-content {
    font-family: "Roboto";
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
    margin: 10px 20px 20px;
}


.inline-button {
    cursor: pointer;
    padding: 4px 8px;
    background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
    border-radius: 8px;
    font-size: 75%;
    border: solid 1px rgba(255, 255, 255, .6);
}




.section:hover{
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3), -10px 10px 10px rgba(0, 0, 0, 0.3),
                inset 5px 5px 10px rgba(255, 255, 255, 0.2), inset -5px -5px 10px rgba(255, 255, 255, 0.2);
}


body:has(#art:hover) .item{
    background: url("../images/spotlight/easel.png") bottom no-repeat;
}
body:has(#interactive:hover) .item{
    background: url("../images/spotlight/controller.png") bottom no-repeat;
}
body:has(#color:hover) .item{
    background: url("../images/spotlight/paintbucket.png") bottom no-repeat;
}
body:has(#music:hover) .item{
    background: url("../images/spotlight/guitar.png") bottom no-repeat;
}
body:has(#food:hover) .item{
    background: url("../images/spotlight/tocque.png") bottom no-repeat;
}
body:has(#portfolio:hover) .item{
    background: url("../images/spotlight/briefcase.png") bottom no-repeat;
}


#copyright{
    font-size: 12px;
    width: 100%;
    text-align: center;
    padding-top: 60px;
}